@import "tailwindcss";

@theme {
  --color-neon-blue: #00f0ff;
  --color-neon-yellow: #ffeb3b;
  --color-background: #000a29;
}

body {
  background-color: var(--color-background);
  color: white;
  margin: 0;
  font-family: system-ui, sans-serif;
}
